@model IEnumerable<DSA_Tracker.Models.Problem>
@{
    ViewData["Title"] = "Index";
}
<style>
.boolean-color {
    background: red;
    color:red;
}
</style>

<h1>Practice Problems</h1>
<h4>@ViewBag.Total</h4> 
<div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProblemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedToRepeat)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
                <i class="fa-solid fa-plus"></i>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemName)
            </td>
            <td class="boolean-color">
                @Html.DisplayFor(modelItem => item.NeedToRepeat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProblemId" class="btn btn-sm btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ProblemId" class="btn btn-sm btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ProblemId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
